# ignore all
*
# unignore files with extensions
!*.*
# unignore all dirs
!*/
### Above combination will ignore all files without extension

!Makefile
!LICENSE

# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test
*.test
*.out
coverage.out

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
